.msg-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    border-left: 1px solid #ddd;

    & div {
        height: 100%; // !!!!
        
        & h5 {
            padding: 7px 0;
            text-align: center;
            color: #fff;
            background-color: #888;
            user-select: none;
        }
    }

    .seller {
        background-color: rgb(195, 234, 234);
        flex: 0.25;
        border-right: 2px solid #fff;
    }

    .client {
        background-color: rgb(237, 217, 217);
        flex: 0.35;
        border-right: 2px solid #fff;
    }

    .messages {
        background-color: rgb(193, 228, 211);
        flex: 0.604;
    }
    
}