@import '../../index.scss';

.header {
    width: 100%;
    background-color: #666;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
    user-select: none;
    transition: all .5s ease;

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        & div {
            padding: 0.2em;
            margin: 0 15px;
        }

        .logo {
            display: flex;
            align-items: center;

            span {
                color: #fff;
                margin-left: 10px;
                font-size: 15px;
                font-family: 'Poppins', sans-serif;
            }

            img {
                height: 50px;
            }
        }


        .hamburguer {
            cursor: pointer;
            width: 32px;
            height: 26px; // !
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                width: 85%;
                height: 4px; // !
                background-color: #fff;
                transform-origin: left; // !
                transition: all .5s ease;
                opacity: 0.9;
            }

            &.active {
                span {
                    &:first-child {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

}